/* ROOT */
.radio-group {
  display: grid;
  gap: 0.75rem;
}

/* ITEM */
.radio-group-item {
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1 / 1;

  border-radius: 9999px;
  border: 1px solid var(--border);
  background-color: var(--input-background, transparent);
  color: var(--primary);

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: var(--shadow-xs);
  transition: box-shadow 0.2s, border-color 0.2s;

  outline: none;
  cursor: pointer;
}

/* FOCUS */
.radio-group-item:focus-visible {
  border-color: var(--ring);
  box-shadow: 0 0 0 3px color-mix(in srgb, var(--ring) 50%, transparent);
}

/* DISABLED */
.radio-group-item:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* INVALID */
.radio-group-item[aria-invalid="true"] {
  border-color: var(--destructive);
  box-shadow: 0 0 0 3px color-mix(in srgb, var(--destructive) 20%, transparent);
}

/* INDICATOR */
.radio-group-indicator {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ICON */
.radio-group-icon {
  width: 0.5rem;
  height: 0.5rem;
  fill: var(--primary);
}
