.progress-root {
  position: relative;
  width: 100%;
  height: 0.5rem; /* h-2 */
  overflow: hidden;
  border-radius: 9999px;
  background-color: rgba(59, 130, 246, 0.2); /* bg-primary/20 */
}

.progress-indicator {
  height: 100%;
  width: 100%;
  flex: 1;
  background-color: rgb(59, 130, 246); /* bg-primary */
  transition: transform 0.3s ease;
}
