/* PANEL GROUP */
.resizable-panel-group {
  display: flex;
  width: 100%;
  height: 100%;
}

/* VERTICAL */
.resizable-panel-group[data-panel-group-direction="vertical"] {
  flex-direction: column;
}

/* HANDLE */
.resizable-handle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1px;
  background-color: var(--border);
  outline: none;
}

/* HANDLE - VERTICAL */
.resizable-handle[data-panel-group-direction="vertical"] {
  width: 100%;
  height: 1px;
}

/* HANDLE HIT AREA */
.resizable-handle::after {
  content: "";
  position: absolute;
  inset-block: 0;
  left: 50%;
  width: 4px;
  transform: translateX(-50%);
}

/* HIT AREA - VERTICAL */
.resizable-handle[data-panel-group-direction="vertical"]::after {
  inset-inline: 0;
  top: 50%;
  height: 4px;
  width: 100%;
  transform: translateY(-50%);
}

/* FOCUS */
.resizable-handle:focus-visible {
  box-shadow: 0 0 0 1px var(--ring);
}

/* HANDLE WITH GRIP */
.resizable-handle-grip {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 0.75rem;
  height: 1rem;

  background-color: var(--border);
  border: 1px solid var(--border);
  border-radius: 0.25rem;
}

/* ROTATE GRIP ON VERTICAL */
.resizable-handle[data-panel-group-direction="vertical"]
  .resizable-handle-grip {
  transform: rotate(90deg);
}

/* ICON */
.resizable-handle-icon {
  width: 0.625rem;
  height: 0.625rem;
}
